<a href="https://colab.research.google.com/github/Ayushjha1622/week1-HTML-CipherSchools/blob/main/data_preprocessing.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

In [3]:
df = pd.read_csv('/content/demo1.csv')
df.shape

(9, 4)

In [5]:
print(df)

  Ethinicity  Height  Weight Survive
0      White   186.0    90.0     Yes
1    African   185.0    98.0      No
2      Asian   175.0    80.0      No
3    African   180.0    88.0     Yes
4      Asian   178.0     NaN      No
5      Asian   172.0    72.0     Yes
6      White   178.0    75.0      No
7      White     NaN    89.0     Yes
8    African   186.0    90.0     Yes

In [6]:
#### remove column contains NAN values
df1 = df.dropna(axis=1)
print(df1)

  Ethinicity Survive
0      White     Yes
1    African      No
2      Asian      No
3    African     Yes
4      Asian      No
5      Asian     Yes
6      White      No
7      White     Yes
8    African     Yes

In [7]:
### remove rows within NAN values
df2 = df.dropna(axis=0)
print(df2)

  Ethinicity  Height  Weight Survive
0      White   186.0    90.0     Yes
1    African   185.0    98.0      No
2      Asian   175.0    80.0      No
3    African   180.0    88.0     Yes
5      Asian   172.0    72.0     Yes
6      White   178.0    75.0      No
8    African   186.0    90.0     Yes

In [8]:
### remove rows where columns are NAN
df3 = df.dropna(axis=0, how='all')
print(df3)

  Ethinicity  Height  Weight Survive
0      White   186.0    90.0     Yes
1    African   185.0    98.0      No
2      Asian   175.0    80.0      No
3    African   180.0    88.0     Yes
4      Asian   178.0     NaN      No
5      Asian   172.0    72.0     Yes
6      White   178.0    75.0      No
7      White     NaN    89.0     Yes
8    African   186.0    90.0     Yes

In [9]:
### remove rows where any of column is NAN
df4 = df.dropna(axis=0, how='any')
print(df4)

  Ethinicity  Height  Weight Survive
0      White   186.0    90.0     Yes
1    African   185.0    98.0      No
2      Asian   175.0    80.0      No
3    African   180.0    88.0     Yes
5      Asian   172.0    72.0     Yes
6      White   178.0    75.0      No
8    African   186.0    90.0     Yes

In [10]:
### delete rows when not have threshold non-NAN values
df5 = df.dropna(axis=0, thresh=2)
print(df5)

  Ethinicity  Height  Weight Survive
0      White   186.0    90.0     Yes
1    African   185.0    98.0      No
2      Asian   175.0    80.0      No
3    African   180.0    88.0     Yes
4      Asian   178.0     NaN      No
5      Asian   172.0    72.0     Yes
6      White   178.0    75.0      No
7      White     NaN    89.0     Yes
8    African   186.0    90.0     Yes

In [11]:
### delete rows if NAN appears in specific column
df6 = df.dropna(axis=0, subset=['Height'])
print(df6)

  Ethinicity  Height  Weight Survive
0      White   186.0    90.0     Yes
1    African   185.0    98.0      No
2      Asian   175.0    80.0      No
3    African   180.0    88.0     Yes
4      Asian   178.0     NaN      No
5      Asian   172.0    72.0     Yes
6      White   178.0    75.0      No
8    African   186.0    90.0     Yes

In [13]:
df7 =df.copy()
from sklearn.impute import SimpleImputer
si = SimpleImputer(strategy='mean')
df7[['Height']] = si.fit_transform(df7[['Height']])
df7[['Weight']] = si.fit_transform(df7[['Weight']])
print(df7)

  Ethinicity  Height  Weight Survive
0      White   186.0   90.00     Yes
1    African   185.0   98.00      No
2      Asian   175.0   80.00      No
3    African   180.0   88.00     Yes
4      Asian   178.0   85.25      No
5      Asian   172.0   72.00     Yes
6      White   178.0   75.00      No
7      White   180.0   89.00     Yes
8    African   186.0   90.00     Yes